images:
  infrastructure-metal3:
    repository: registry.opensuse.org/isv/suse/edge/clusterapi/containerfile/suse
    tag: {{ capi_metal3_version | replace('v', '') }}
  bootstrap-rke2:
    repository: registry.opensuse.org/isv/suse/edge/clusterapi/containerfile/suse
    tag: {{ capi_rke2_version | replace('v', '') }}
  control-plane-rke2:
    repository: registry.opensuse.org/isv/suse/edge/clusterapi/containerfile/suse
    tag: {{ capi_rke2_version | replace('v', '') }}
